@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #070707;
  }
  
  /* Set dark grey background for the navbar */
.navbar {
    background-color: #000000;
}

.home-outer {
    background-color: #a19f9f;
    padding: 1rem;
}

/* Font Styles */
/* Bold white text */
.bold-white {
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Large bold white text */
  .large-bold-white {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Medium bold white text with black border */
  .medium-bold-white {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #000000;
  }
  
  /* Small bold white text with light gray background */
  .small-bold-white {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #f3f3f3;
  }


  /* Elements*/
  .element-standard {
    font-size: 10pt;
    color: #ffffff;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color ;
    background-color: #333333;
    
  }

  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .dropdown {
    background-color: #000000;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 1rem;
  }

  /* Buttons*/
  .button-dropdown {
    margin: 0.25rem;
    cursor: pointer;
  }

  .picture-standard {
    padding: 0.25rem;
    height: 80%;
    width: 80%;
    border-radius: 1rem;
  }

  .logo-standard {
    padding: 0.25rem;
    height: 90px;
    width: 125px;
  }

  .modal-icon {
    padding: 0.4rem;
    height: 40px;
    width: 40px;
  }
 
  .modal {
    margin-top: 5px;
    z-index: 9999; /* hoher Wert, um es immer über anderen Elementen zu positionieren */
    width: 125px;
    height: 95px;
  }

  .informationfield {
    background-image: url('./assets/pictures/tatto4.png');
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1400px;
    max-height: 1400px;
  }

  .rounded {
    border-radius: 0.5rem;
  }
  
  /* Farbverlauf von links nach rechts für eine CSS-Klasse */
  .colorflow {
    background: linear-gradient(to left, #9eb1b1, #000000);
  }

  .colorflow1 {
    background: linear-gradient(to right, #9eb1b1, #000000);
  }

  .diagonal-colorflow {
    background: linear-gradient(to bottom right, #000000, #9eb1b1);
  }

  .top-to-bottom-colorflow {
    background: linear-gradient(#000000, #9eb1b1);
  }

  .bottom-to-top-colorflow {
    background: linear-gradient(#9eb1b1, #000000);
  }