@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
  }
  
  /* Set dark grey background for the navbar */
.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.home-outer {
    background-color: #000000;
    margin-top: 70px;
}

/* Stile für den Footer */
.footer {
  @apply bg-black text-white p-4;
}

.footer-links {
  @apply flex justify-center;
}

.footer-link {
  @apply mx-4 cursor-pointer;
}

/* Stile für das animierte Zahnrad */
.animate-rotate {
  animation: rotate 2s linear infinite; /* Passe die Dauer oder andere Eigenschaften nach Bedarf an */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-icon {
  @apply flex justify-center items-center;
}


/* Font Styles */
/* Bold white text */
.bold-white {
    font-weight: bold;
    color: #ffffff;
  }

  .white {
    font-size: 13pt;
    color: #ffffff;
  }
  
  /* Large bold white text */
  .large-bold-white {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Medium bold white text with black border */
  .xlarge-bold-white {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Small bold white text with light gray background */
  .small-bold-white {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #f3f3f3;
  }


  /* Elements*/
  .element-standard {
    font-size: 10pt;
    color: #ffffff;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color ;
    background-color: #000000;
    
  }

  .row-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .row-container-center1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
  }

  .row-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    max-height: 100%;
    align-items: top;
  }

  .row-container-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: top;
  }

  .home-vh {
    height: 100vh;
  }

  .home-text-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

  .home-picture-container {
    margin: 0 auto;
    align-items: center;
  }

  .dropdown {
    background-color: #000000;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 1rem;
  }

  .card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: translate(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Buttons*/

  .btn-submit {
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    margin-top: 15px;
  }

  .button-dropdown {
    width: 20px;
    margin-left: 90px;
    text-align: center;
    cursor: pointer;
  }

  .animated-button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  .animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  .animated-button-fill {
    overflow: hidden;
    text-align: left;
    display: inline-block;
    margin-right: 7px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
  }
  
  .animated-button-fill::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.8s ease-out, height 0.8s ease-out;
  }
  
  .animated-button-fill:hover::before {
    width: 200%;
    height: 200%;
  }
  
.blink {
  animation: blinkTextCursor 1000ms step-end;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 100%);
  }
  to {
    border-right-color: transparent;
  }
}

  
  .animated-button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button:hover::before {
    transform: scaleX(1.5);
  }

  .picture-standard {
    padding: 0.25rem;
    height: 60%;
    width: 90%;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .picture-home {
    padding-top: 30px;
    max-height: 300px;
    max-width: 300px;
    align-self: center;
  }

  .picture-home1 {
    max-height: 300px;
    max-width: 300px;
    align-self: center;
  }

  .rounded-full {
    border-radius: 100rem;
  }

  .logo-standard {
    margin: 0.25rem;
    height: 60px;
    width: 120px;
    border-radius: 0.5rem;
  }

  .modal-icon {
    padding: 0.25rem;
    color: white;
    height: 25x;
    width: 25px;
  }
 
  .modal {
    margin-top: 5px;
    width: 125px;
    height: 95px;
  }

  .link-wrapper {
    background-color: black;
    transition: background-color 0.5s ease;
  }

  .link-wrapper:hover {
    background-color: rgb(120, 118, 118);
    transform: translateX(5px);
  }

  .modal-link {
    background-color: black;
    transition: background-color 0.5s ease;
  }
  
  .modal-link:hover {
    background-color: #9eb1b1;
  }

  .margin-left {
    margin-left:1rem;
  }

  .rounded {
    border-radius: 0.5rem;
  }

  .diagonal-colorflow {
    background: linear-gradient(to bottom right, #000000, #9eb1b1);
  }

  .top-to-bottom-colorflow {
    background: linear-gradient(#000000, #acacac);
  }

  .scroll-container {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 60px; /* adjust this to your navbar height */
  }

  .form-label {
    margin-right: 15px;
    margin-top: 15px;
  }

  .form-area {
    height: 130px;
    margin-top: 15px;
  }

  .form-control {
    margin-top: 15px;
  }