@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #070707;
  }
  
  /* Set dark grey background for the navbar */
.navbar {
    background-color: #000000;
}

.home-outer {
    background-color: #a19f9f;
    padding: 1rem;
}

/* Font Styles */
/* Bold white text */
.bold-white {
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Large bold white text */
  .large-bold-white {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Medium bold white text with black border */
  .medium-bold-white {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #000000;
  }
  
  /* Small bold white text with light gray background */
  .small-bold-white {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #f3f3f3;
  }


  /* Elements*/
  .element-standard {
    font-size: 10pt;
    color: #ffffff;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color ;
    background-color: #333333;
    
  }

  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .dropdown {
    background-color: #1d1b1b;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  /* Buttons*/
  .button-dropdown {
    border: none;
    background-color: #1d1b1b;
    color: #fff;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .picture-standard {
    padding: 0.25rem;
    height: 100%;
    width: 100%;
  }
  .logo-standard {
    padding: 0.25rem;
    height: 80px;
    width: 110px;
  }
